<?xml version="1.0" encoding="UTF-8" ?>
<config>

	<slavedb>
		<cnt>2</cnt>
	</slavedb>

	<shellCommond>
		<parameter1>/bin/sh</parameter1>
		<parameter2>-c</parameter2>
		<parameter3>/usr/local/app/hadoopBatch/sh/sendMessage.sh </parameter3>
	</shellCommond>

	<system>
		<environment>Staging</environment>
	</system>

	<hdfs>
		<url>hdfs://dev-sg2pat-ap02:9000</url>
		<path>/home/hadoop/data/flume</path>
	</hdfs>

	<hbase>
		<master>dev-sg2pat-ap02:6000</master>
		<zookeeper>
			<quorum>dev-sg2pat-ap02</quorum>
			<property>
				<clientPort>2181</clientPort>
			</property>
		</zookeeper>
	</hbase>
	<itunes>
		<game>
			<table>rssItunes</table>
			<allFree>
				<url>https://itunes.apple.com/jp/rss/topfreeapplications/limit=400/json</url>
				<columnfamily>allFree</columnfamily>
				<qualifier>jp</qualifier>
			</allFree>
			<allGrossing>
				<url>https://itunes.apple.com/jp/rss/topgrossingapplications/limit=400/json</url>
				<columnfamily>allGrossing</columnfamily>
				<qualifier>jp</qualifier>
			</allGrossing>
		</game>
		<app>
			<period>3</period>
			<table>itunesApp</table>
			<free>
				<columnfamily>allFree</columnfamily>
			</free>
			<grossing>
				<columnfamily>allGrossing</columnfamily>
			</grossing>
		</app>
		<detail>
			<table>detailApp</table>
			<!-- <url>https://itunes.apple.com/lookup?country=JP&id=</url>  -->
			<columnfamily>lookup</columnfamily>
		</detail>
	</itunes>
	<realTime>
		<clientId>c00a6bda3eef04ac1f45350e2dc744b8ac40ea40191e0f4085cd33864272e0f</clientId>
		<clientId>25e7ba25c0b3a16b12818846735e479eba27825d088ea381b6b2637b9859bd91</clientId>
		<clientId>33fba9f33c6ee3813090e08e1bf8b3d893cebfee07ed11306bd2636f96353640</clientId>
		<clientId>73249c9df1ca2c89fa239266d353bdb670eddf29f04d7319b714fb9641ba6b48</clientId>
		<clientId>86e4879735cdc19c9adae13d690dab31ac2aecc1e3891c8702ab344cb20bdf55</clientId>
		<clientId>98e5b04d87dd022cf6979eec98d6b20b63e5851ac19c5140076b448d61d97426</clientId>
		<clientId>a2a1c4c18ea9ff9be289b414878ae8ab8e863389e3f27cff7d4fd360ebe00e4d</clientId>
		<clientId>d33ddbe70f3f505eeb7d4221026a1094bb4b65ae45b0857481470fc9303204f6</clientId>
		<clientId>c579a7a626151a2b0fa8dacd524040650f3529e7ecdb9597a867c20ceff9f17a</clientId>
	</realTime>
</config>